// app global css in SCSS form
.custom-color {
  color: var(--custom-color) !important;
}

.q-list--dark >>> .custom-color,
.q-item--dark >>> .custom-color {
  color: var(--custom-color) !important;
}

body {
  background: #000
}
